# CONFIGURACIÓN DE ENVÍO DE CORREO A GMAIL / RESEND
RESEND_API_KEY=
GMAIL_USER=
GMAIL_APP_PASSWORD=

# CONFIGURACIÓN DE LA BASE DE DATOS Y SUPABASE
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SQL_ADMIN_PASSWORD=
SQL_ADMIN_USER=
SQL_DB_NAME=
SQL_HOST=
SQL_PASSWORD=
SQL_USER=
VITE_GOOGLE_CLIENT_ID=
VITE_SUPABASE_ANON_KEY=
VITE_SUPABASE_URL=
CULQI_PUBLIC_KEY=
CULQI_SECRET_KEY=