/* =========================================================
   MÓDULO ADMIN: INSUMOS
   ========================================================= */

.stock-ok {
  color: #4ade80;
  font-weight: 700;
}

.stock-alert {
  color: #f2b033;
  font-weight: 700;
}
