/* =========================================================
   MÓDULO ADMIN: UTENSILIOS
   ========================================================= */

.status-excellent {
  color: #4ade80;
  font-weight: 700;
}

.status-good {
  color: #60a5fa;
  font-weight: 700;
}
